<div class="room-header">
 <div class="left-header">
<div class="room-title">hogefuga</div>
</div>
<div class="right-header">
<div class="chat-end">
<a href="#">チャットを終了する</a>
</div>
  </div>
  </div>

  <div class="messages">
  <div class="message">
  <div class="upper-message">
  <div class="sender">Tom</div>
  <div class="date">2020/03/31(Wed) 12:43:30</div>
 </div>
 <div class="lower-message">
 <div class="content">おはよう</div>
 </div>
  </div>

  <div class="message">
  <div class="upper-message">
  <div class="sender">Sim</div>
  <div class="date">2020/03/31(Wed) 12:43:30</div>
 </div>
 <div class="lower-message">
 <div class="content">こんばんは</div>
 </div>
  </div>
  </div>
  
  <div class="form">
  <div class="input-form">
  <input placeholder="type a message" class="message-form">
  <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit-btn">
  </div>