<div class="wrapper">
<div class="side-bar">
  <%= render "side_bar" %>
  <div class="upper-left"></div>
  <div class="lower-left"></div>
  </div>
  <div class="main-chat">
  <%= render "main_chat" %>
  <div class="upper-right"></div>
  <div class="center"></div>
  <div class="footer"></div>
  </div>
</div>